name: Android

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'kotlin-multiplatform/**'
      - '.github/workflows/android.yml'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble Debug
        run: cd kotlin-multiplatform && ./gradlew assembleDebug

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: |
            kotlin-multiplatform/**/build/outputs/aar/
            kotlin-multiplatform/**/build/libs/*-android.jar
          retention-days: 30

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Tests
        run: cd kotlin-multiplatform && ./gradlew testDebugUnitTest

      - name: Generate Coverage Report
        run: cd kotlin-multiplatform && ./gradlew koverXmlReport koverHtmlReport

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report-android
          path: |
            kotlin-multiplatform/**/build/reports/kover/
          retention-days: 30

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Lint
        run: cd kotlin-multiplatform && ./gradlew lintDebug
