name: iOS

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'kotlin-multiplatform/**'
      - '.github/workflows/ios.yml'

jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Debug Frameworks
        run: cd kotlin-multiplatform && ./gradlew linkDebugFrameworkIosSimulatorArm64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: kotlin-multiplatform/**/build/classes/kotlin/iosSimulatorArm64/main/
          retention-days: 30

  test:
    name: Test
    runs-on: macOS-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Tests
        run: cd kotlin-multiplatform && ./gradlew iosSimulatorArm64Test
