name: JVM

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**/*.kt'
      - '**/*.kts'
      - '.github/workflows/jvm.yml'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble
        run: ./gradlew jvmJar

      - name: Test
        run: ./gradlew jvmTest

      - name: Generate Coverage Report
        if: ${{ !cancelled() }}
        run: ./gradlew koverXmlReport

      - name: Upload Coverage to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/kover/report.xml
          fail_ci_if_error: true

      - name: Upload Test Results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results
          files: "**/build/test-results/jvmTest/TEST-*.xml"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: artifacts
          path: |
            **/build/libs/*-jvm.jar
          retention-days: 30
