name: macOS

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**/*.kt'
      - '**/*.kts'
      - '.github/workflows/macos.yml'

jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build macOS
        run: ./gradlew compileKotlinMacosArm64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: artifacts
          path: '**/build/classes/kotlin/macosArm64/main/'
          retention-days: 30
